.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  /* border: 2px solid red; */
}
.grid-item {
}
.redbg {
  background-color: red;
}
.bluebg {
  background-color: blue;
}
.greenbg {
  background-color: green;
}
.fsize {
  font-size: 20rem;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  user-select: none;
}
.fsize-dark {
  font-size: 20rem;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  user-select: none;
  color: aliceblue;
}

@media screen and (max-width: 556px) {
  .grid-container {
    grid-template-columns: auto;
  }
  .fsize {
    font-size: 10rem;
    font-weight: 700;
  }
  .fsize-dark {
    font-size: 10rem;
    font-weight: 700;
  }
}
/* fadeTransition */
.animate-count-fade-enter {
  opacity: 0;
}
.animate-count-fade-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}
.animate-count-fade-enter-done {
  opacity: 1;
}

.animate-count-fade-exit {
  opacity: 1;
}
.animate-count-fade-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}
.animate-count-fade-exit-done {
  opacity: 0;
}

/* NoneTransition */
.animate-count-none-enter {
}
.animate-count-none-enter-active {
}
.animate-count-none-enter-done {
}

.animate-count-none-exit {
}
.animate-count-none-exit-active {
}
.animate-count-none-exit-done {
}
