.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  border: 2px solid red;
}
.fsize {
  font-size: 20rem;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  user-select: none;
}

@media screen and (max-width: 556px) {
  .grid-container {
    grid-template-columns: auto;
  }
  .fsize {
    font-size: 10rem;
    font-weight: 700;
  }
}

.animate-count-enter {
  opacity: 0;
}
.animate-count-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}
.animate-count-enter-done {
  opacity: 1;
}

.animate-count-exit {
  opacity: 1;
}
.animate-count-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}
.animate-count-exit-done {
  opacity: 0;
}