.mainplate {
  padding: 9em 5em;
  height: 100%;
}

table {
  border: 1px solid black;
}

.mainplate-dark {
  background-color: black;
}
.div-center {
  display: flex;
  justify-content: center;
}
